body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
}

video {
  width: 90%;
  max-width: 400px;
  border: 3px solid black;
  margin: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}
